/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

  *overflow: visible;
  /* 4 */

}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
b,
strong,
.strong {
  font-weight: bold;
}
dfn,
em,
.em {
  font-style: italic;
}
small,
.small {
  font-size: 75%;
}
ul,
ol {
  padding: 0;
  list-style-type: none;
}
dd {
  margin: 0;
}
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.image-box {
  line-height: 0;
}
.image-box img {
  width: 100%;
  height: auto;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/*
@font-face {
    font-family: 'akzidenzmd';
    src: url('../fontface-akzidenzmd/akzidenzgroteskbq-bdcnd-webfont.eot');
    src: url('../fontface-akzidenzmd/akzidenzgroteskbq-bdcnd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontface-akzidenzmd/akzidenzgroteskbq-bdcnd-webfont.woff') format('woff'),
         url('../fontface-akzidenzmd/akzidenzgroteskbq-bdcnd-webfont.ttf') format('truetype'),
         url('../fontface-akzidenzmd/akzidenzgroteskbq-bdcnd-webfont.svg#akzidenz-grotesk_bq_condensBd') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fontface-bebasneue/bebasneue-webfont.eot');
    src: url('../fontface-bebasneue/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontface-bebasneue/bebasneue-webfont.woff') format('woff'),
         url('../fontface-bebasneue/bebasneue-webfont.ttf') format('truetype'),
         url('../fontface-bebasneue/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
  font-family: 'oldsansblackregular';
  src: url('../fontface-oldsansblack/oldsansblack-webfont.eot');
  src: url('../fontface-oldsansblack/oldsansblack-webfont.eot?#iefix') format('embedded-opentype'), url('../fontface-oldsansblack/oldsansblack-webfont.woff') format('woff'), url('../fontface-oldsansblack/oldsansblack-webfont.ttf') format('truetype'), url('../fontface-oldsansblack/oldsansblack-webfont.svg#oldsansblackregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.title-font {
  font-family: "oldsansblackregular", "Trebuchet MS", helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* top margin */
.top-margin {
  margin-top: 20px;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}
.alert-help {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #e8dc59;
  background: #ebe16f;
}
.alert-info {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #bfe4f4;
  background: #d5edf8;
}
.alert-error {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #f8cdce;
  background: #fbe3e4;
}
.alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #deeaae;
  background: #e6efc2;
}
/*********************
BORDER RADIUS
*********************/
/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdo it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0,0,4px,0,#444); */
/* .boxShadow(none); */
/*********************
BUTTONS
*********************/
.button,
.button:visited {
  border: 1px solid #be0d37;
  border-top-color: #db0f3f;
  border-left-color: #db0f3f;
  padding: .5em 1em;
  color: #ffffff;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 1em;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #e40f42;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f01d4f), to(#e40f42));
  background-image: -webkit-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -moz-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -o-linear-gradient(top, #f01d4f, #e40f42);
  background-image: linear-gradient(to bottom, #f01d4f, #e40f42);
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  color: #ffffff;
  border: 1px solid #be0d37;
  border-top-color: #9d0a2d;
  border-left-color: #9d0a2d;
  background-color: #cc0e3b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#cc0e3b));
  background-image: -webkit-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -moz-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -o-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: linear-gradient(to bottom, #e40f42, #cc0e3b);
}
.button span,
.button:visited span {
  font-family: "Georgia";
  font-weight: bold;
  line-height: 1.1em;
}
.button.large,
.button:visited.large {
  font-size: 1.5em;
  padding: .4em 1em;
}
.blue-button,
.blue-button:visited {
  border-color: #1472ad;
  text-shadow: 0 1px 1px #1472ad;
  background-color: #1681c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));
  background-image: -webkit-linear-gradient(top, #1990db, #1681c4);
  background-image: -moz-linear-gradient(top, #1990db, #1681c4);
  background-image: -o-linear-gradient(top, #1990db, #1681c4);
  background-image: linear-gradient(to bottom, #1990db, #1681c4);
  -webkit-box-shadow: inset 0 0 3px #59b3ec;
  -moz-box-shadow: inset 0 0 3px #59b3ec;
  box-shadow: inset 0 0 3px #59b3ec;
}
.blue-button:hover,
.blue-button:visited:hover,
.blue-button:focus,
.blue-button:visited:focus {
  border-color: #116396;
  background-color: #1472ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));
  background-image: -webkit-linear-gradient(top, #1784c9, #1472ad);
  background-image: -moz-linear-gradient(top, #1784c9, #1472ad);
  background-image: -o-linear-gradient(top, #1784c9, #1472ad);
  background-image: linear-gradient(to bottom, #1784c9, #1472ad);
}
.blue-button:active,
.blue-button:visited:active {
  background-color: #1990db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));
  background-image: -webkit-linear-gradient(top, #1681c4, #1990db);
  background-image: -moz-linear-gradient(top, #1681c4, #1990db);
  background-image: -o-linear-gradient(top, #1681c4, #1990db);
  background-image: linear-gradient(to bottom, #1681c4, #1990db);
}
/*
  Theme Name: RX - Starter Theme
  Theme URI: http://www.sitesasrx.com
  Author: SitesAsRx
  Version: 1.0
*/
/*********************
Theme Colors
*********************/
.button,
.button:visited {
  background-color: #2873b5;
  border-color: #2873b5;
  background-image: none;
  border-radius: 0px;
  font-family: "oldsansblackregular", "Trebuchet MS", helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
.button:hover,
.button:visited:hover {
  background-color: #202020;
  background-image: none;
  border-color: #202020;
}
.button.black,
.button:visited.black {
  background: #202020;
  border-color: #202020;
}
.button.white,
.button:visited.white {
  background: #ffffff;
  border-color: #ffffff;
  color: #2873b5;
}
/*********************
Font Usage
*********************/
/*********************
Base Styles
*********************/
/*********************
Larger Mobile Device
*********************/
@media only screen and (min-width: 481px) {
  
}
/*********************
Tablet & Up
*********************/
@media only screen and (min-width: 768px) {
  
}
/*
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER SYTLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGE NAVI STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES

******************************************************************/
/*********************
01. GENERAL STYLES
*********************/
html,
body {
  /* height: 100%; */

}
body {
  font-family: "Trebuchet MS", helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.4;
  color: #202020;
}
/********************
02. WORDPRESS BODY CLASSES
    style a page via class
********************/
.featured img {
  width: 100%;
  height: auto;
}
.single .featured img {
  width: 100%;
  height: auto;
}
/*********************
03. LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 96%;
  margin: 0 auto;
}
/*********************
04. LINK STYLES
*********************/
a,
a:visited {
  color: #2873b5;
  /* on hover */

  /* on click */

  /* mobile tap color */

}
a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
  color: #205b8f;
}
a:link,
a:visited:link {
  /*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
.header,
.footer,
#searchsubmit,
.go {
  text-rendering: optimizelegibility;
  font-family: "oldsansblackregular", "Trebuchet MS", helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  line-height: 1.3em;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  margin-bottom: 0.3em;
}
h1,
.h1 {
  font-size: 2.5em;
}
h2,
.h2 {
  font-size: 2.1em;
}
h3,
.h3 {
  font-size: 1.8em;
}
h4,
.h4 {
  font-size: 1.5em;
}
h5,
.h5 {
  font-size: 1.2em;
}
h1.page-title {
  font-size: 3em !important;
  border-bottom: 1px dotted #202020;
  margin: 0 0 .3em 0 !important;
  padding: 0 0 .1em 0 !important;
  line-height: 1.3em !important;
}
h2.entry-title {
  margin: 0;
}
h3.widget-title {
  font-size: 2.25em;
  margin: 0 0 .1em 0;
}
h3.widget-title a {
  color: #202020;
  text-decoration: none;
}
h3.comments-title,
h3.reply-title {
  font-size: 1.85em;
  border-bottom: 1px dotted #202020;
  padding: 0 0 .4em 0;
  margin-bottom: .4em;
}
/*********************
06. HEADER SYTLES
*********************/
.header #topbar {
  background: #202020;
}
.header #topbar a {
  text-decoration: none;
}
.header #topbar #contact {
  margin: 0px;
}
.header #topbar #contact ul {
  margin: 0px;
  text-align: center;
}
.header #topbar #contact ul li {
  display: inline-block;
  padding-left: 24px;
  margin: .6em 0 .4em 0;
}
.header #topbar #contact ul li a {
  font-size: 1.25em;
}
.header #topbar #contact ul li.icon-phone {
  background: url("../../library/images/icon-phone.png") no-repeat;
}
.header #topbar #contact ul li.icon-email {
  background: url("../../library/images/icon-mail.png") no-repeat;
}
.header #topbar #contact ul li.icon-map {
  background: url("../../library/images/icon-location.png") no-repeat;
}
.header #topbar #social {
  text-align: center;
}
.header #topbar #social .socialstickers {
  margin: 0;
}
.header #topbar #social .socialstickers .like_button {
  padding-left: 8px;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  width: 140px;
}
.header #topbar #social .socialstickers .like_button iframe {
  width: 140px;
}
.header #topbar #social .icon {
  display: inline-block;
}
.header #topbar #social .icons {
  margin-top: 0.45em;
}
.header #topbar #social .icons a img {
  margin: 0.2em 0;
}
.header #logo img {
  display: block;
  margin: 2em auto;
  max-width: 100%;
}
.header nav {
  background: #202020;
}
.header nav #megaMenu #megaMenuToggle {
  color: #ffffff;
  font-size: 1.5em;
  font-family: "oldsansblackregular", "Trebuchet MS", helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
.header nav #megaMenu #megaMenuToggle:hover {
  color: #2873b5;
}
.header nav #megaMenu #megaUber li a {
  color: #ffffff;
  padding: 0.8em 1.2em;
  font-family: "oldsansblackregular", "Trebuchet MS", helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
.header nav #megaMenu #megaUber li a:hover {
  color: #2873b5;
}
.header nav #megaMenu #megaUber li a:after {
  display: none;
}
.header nav #megaMenu #megaUber li a span {
  font-size: 1.8em;
  text-transform: uppercase;
}
.header nav #megaMenu #megaUber li .sub-menu {
  /* background: @black; */

  border: none;
  box-shadow: none;
  left: inherit !important;
  border-radius: 0px;
}
.header nav #megaMenu #megaUber li .sub-menu li {
  margin: 0px;
  padding: 0px;
  float: none;
  display: block;
}
.header nav #megaMenu #megaUber li .sub-menu li a {
  border: none;
  margin: 0;
}
.header nav #megaMenu #megaUber li .sub-menu li a span {
  font-size: 1.4em;
}
/*********************
08. POSTS & CONTENT STYLES
*********************/
#content {
  padding-top: 2.2em;
  padding-bottom: 2em;
}
#content ol {
  list-style-type: decimal;
}
#content ul {
  list-style-type: disc;
}
#content input,
#content textarea {
  font-size: 1em;
}
#content ol,
#content ul {
  padding: 0;
  padding-left: 25px;
}
#content ol li,
#content ul li {
  padding: 0;
  margin: 8px 0;
}
#content ol li ol,
#content ul li ol,
#content ol li ul,
#content ul li ul {
  margin: 0;
}
#content ol li ol li,
#content ul li ol li,
#content ol li ul li,
#content ul li ul li {
  padding-left: 35px;
}
.home #content {
  padding: 0;
}
.Section {
  padding: 40px 0;
}
.Section .twelvecol {
  text-align: center;
}
.Section .twelvecol .section-title {
  margin: 0;
  line-height: 1.1em;
  text-align: center;
}
.Section .twelvecol p {
  font-size: 18px;
  text-align: center;
}
.Section#Slideshow {
  padding: 0;
  display: none;
}
.Section#FreeIntro .button {
  margin-bottom: 0;
}
.page-template-page-staff-popup-php #staff-list .staff-member .photo {
  line-height: 0;
}
.page-template-page-staff-popup-php #staff-list .staff-member .photo img {
  width: 100%;
  height: auto;
}
.page-template-page-staff-popup-php #staff-list .staff-member.preview {
  margin-bottom: 15px;
}
.page-template-page-staff-popup-php #staff-list .staff-member.preview .photo {
  position: relative;
}
.page-template-page-staff-popup-php #staff-list .staff-member.preview .photo h2 {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  line-height: 1em;
  padding: 10px 15px;
  display: block;
}
.page-children {
  padding-top: 1em;
  /* border-top: 1px solid @light-gray; */

}
.page-children .entry-feature .Photo {
  line-height: 0px;
}
.page-children .entry-preview .article-footer .More,
.page-children .entry-preview .article-footer .button {
  margin: 0;
}
.trainer {
  border-bottom: 1px solid #DDDDDD;
  padding: 20px 0 10px;
}
.trainer .photo img {
  width: 100%;
  height: auto;
}
.trainer .details .title h2 {
  margin: 0;
  line-height: 1.1em;
  letter-spacing: 0px;
}
.trainer .details .title h3 {
  color: #777;
  margin: 0;
  font-style: italic;
  line-height: 1.1em;
  letter-spacing: 0px;
}
.trainer .details h4 {
  margin: 0;
  font-weight: normal;
  font-size: 1.2em;
}
.trainer .details ul {
  list-style: disc;
  margin-top: .3em;
}
.trainer .details ul li {
  list-style-position: inside;
}
.qa-faqs .qa-faq {
  border: 1px solid darkey(#dedede, 10%);
  padding: 0 1em;
  margin-bottom: .5em;
  background: #dedede;
}
.qa-faqs .qa-faq .qa-faq-title {
  font-size: 1.1em;
  margin: .7em 0 .5em 0;
}
.qa-faqs .qa-faq .qa-faq-title a {
  color: #202020;
  font-size: 1.2em;
  text-decoration: none;
}
.qa-faqs .qa-faq .qa-faq-answer {
  border-top: 1px solid #848484;
}
.loop {
  /* end .hentry */

}
.loop .hentry {
  padding: 2.5em 0 3em;
  border-top: 1px solid #dedede;
}
.loop .hentry:first-child {
  padding-top: 1.5em;
  border-top: 0;
}
.gform_wrapper ul.gform_fields {
  padding: 0 !important;
}
.gform_wrapper ul.gform_fields input[type=text],
.gform_wrapper ul.gform_fields input[type=password],
.gform_wrapper ul.gform_fields input[type=number],
.gform_wrapper ul.gform_fields input[type=tel],
.gform_wrapper ul.gform_fields input[type=url],
.gform_wrapper ul.gform_fields input[type=email],
.gform_wrapper ul.gform_fields textarea,
.gform_wrapper ul.gform_fields select {
  border: 1px solid #DDD;
  background: #FCFCFC;
  padding: 8px;
}
/* want to style individual post classes? Booya! */
.category-blog .wp-post-image {
  width: 100%;
  height: auto;
}
/* post meta */
.tags,
.byline,
.entry-utility {
  margin: 0;
  font-size: .9em;
  color: #999;
}
.entry-featured {
  margin-top: .5em;
  line-height: 0;
}
/* entry content */
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
.entry-content img {
  margin: 0 0 1.5em 0;
  max-width: 100%;
  height: auto;
}
.entry-content video,
.entry-content object {
  max-width: 100%;
}
.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}
/* end .entry-content */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
  /* images inside wp-caption */

}
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}
/* end .wp-caption */
/******************************************************************
09. PAGE NAVI STYLES
******************************************************************/
.page-navigation {
  padding-top: 2em;
  border-top: 1px solid #dedede;
}
.page-navigation .bones_page_navi {
  margin: 1em 0;
  padding: 0 !important;
  list-style-type: none !important;
}
.page-navigation .bones_page_navi li {
  float: left;
  margin: 0px 2px !important;
}
.page-navigation .bones_page_navi li a {
  padding: 5px 10px;
  display: block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  background: #7bb2e2;
  color: #ffffff;
}
.page-navigation .bones_page_navi li:hover a,
.page-navigation .bones_page_navi li.bpn-current a {
  color: #ffffff;
  background: #2873b5;
}
.page-navigation .bones_page_navi li:first-child {
  margin-left: 0;
}
/******************************************************************
10. COMMENT STYLES
******************************************************************/
/* h3 comment title */
#comments {
  /* number of comments span */

}
.comment-nav ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style-type: none;
}
.comment-nav ul li {
  display: inline-block;
  width: 50%;
}
.comment-nav ul li:last-child {
  float: right;
  text-align: right;
}
.commentlist {
  /* general comment classes */

  /* vcard */

  /* end .commentlist .vcard */

  /* comment meta */

  /* comment content */

  /* end .commentlist .comment_content */

  /* comment reply link */

  /* end .commentlist .comment-reply-link */

}
.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px;
}
.commentlist li:last-child {
  margin-bottom: 0;
}
.commentlist li ul.children {
  margin: 0;
}
.commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
.commentlist li:not(.depth-1) {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 0;
  padding-bottom: 0;
}
.commentlist .odd {
  background: #dedede;
}
.commentlist .even {
  background: #ffffff;
}
.commentlist .vcard {
  margin-left: 50px;
}
.commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
.commentlist .vcard time {
  float: right;
}
.commentlist .vcard time a {
  color: #999;
  text-decoration: none;
}
.commentlist .vcard time a:hover {
  text-decoration: underline;
}
.commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff;
}
.commentlist .comment_content {
  margin-left: 50px;
}
.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
.commentlist .comment-reply-link {
  text-decoration: none;
  float: right;
  background: #2873b5;
  padding: 3px 5px;
  color: #ffffff;
  opacity: 0.65;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 0.9em;
}
.commentlist .comment-reply-link:hover,
.commentlist .comment-reply-link:focus {
  opacity: 1;
}
/* end .commentlist */
/******************************************************************
11. COMMENT FORM STYLES
******************************************************************/
.respond-form {
  margin: 1.5em 0;
  padding-bottom: 2.2em;
}
.respond-form form {
  margin: 0.75em 0;
}
.respond-form form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em;
}
.respond-form form li label,
.respond-form form li small {
  display: none;
}
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url],
.respond-form form textarea {
  padding: 3px 6px;
  background: #efefef;
  border: 2px solid #cecece;
  line-height: 1.5em;
  /* form validation */

}
.respond-form form input[type=text]:focus,
.respond-form form input[type=email]:focus,
.respond-form form input[type=url]:focus,
.respond-form form textarea:focus {
  background: #fff;
}
.respond-form form input[type=text]:invalid,
.respond-form form input[type=email]:invalid,
.respond-form form input[type=url]:invalid,
.respond-form form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url] {
  max-width: 400px;
  min-width: 250px;
}
.respond-form form textarea {
  resize: none;
  width: 97.3%;
  height: 150px;
}
/* allowed tags */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}
/* no comments */
.nocomments {
  margin: 0 20px 1.1em;
}
/*********************
12. SIDEBARS & ASIDES
*********************/
#side {
  margin-bottom: 1em;
}
#side .widget-container {
  padding-bottom: 2em;
}
#side .widget-container.wod .post {
  padding: 15px;
  background: #efefef;
}
#side .widget-container.wod .post .entry-title {
  margin: 0;
  font-size: 1.8em;
  padding-bottom: .3em;
  border-bottom: 1px solid #CCC;
  line-height: 1em;
}
#side .widget-container.wod .post .entry-content {
  font-size: .9em;
}
#side .widget-container.wod .post .entry-content ul {
  padding-left: 25px;
}
#side .widget-container.wod .post .entry-content ul li {
  color: #202020;
  padding: .3em 0;
  list-style-type: disc;
  text-transform: none;
  background: none;
  font-weight: normal;
}
#side .widget-container.wod .post .entry-content ul li a {
  color: #2873b5;
}
#side .widget-container.wod .post .entry-utility {
  text-transform: none;
  font-size: 0.85em;
  color: #dedede;
  border-top: 1px solid #CCC;
  padding-top: 10px;
}
#side .widget-container.widget_FacebookLikeBox iframe {
  background: #ffffff;
}
#side .advanced_recent_posts_widget ul,
#side .widget_subpages ul {
  margin-top: 0;
  padding-left: 0;
}
#side .advanced_recent_posts_widget ul li,
#side .widget_subpages ul li {
  font-size: 1.2rem;
  margin: 0 0 2px;
  color: #ffffff;
  list-style: none;
  text-transform: uppercase;
  background: #202020;
  border: 0;
  /* deep nesting */

}
#side .advanced_recent_posts_widget ul li a,
#side .widget_subpages ul li a {
  font-size: 1.2rem !important;
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}
#side .advanced_recent_posts_widget ul li a:hover,
#side .widget_subpages ul li a:hover {
  color: #2873b5;
}
#side .advanced_recent_posts_widget ul li.current_page_item > a,
#side .widget_subpages ul li.current_page_item > a {
  color: #2873b5;
}
#side .advanced_recent_posts_widget ul li ul,
#side .widget_subpages ul li ul {
  border-top: 1px solid #535353;
  margin: 0 12px 0px 12px;
  padding-bottom: 10px;
}
#side .advanced_recent_posts_widget ul li ul li,
#side .widget_subpages ul li ul li {
  margin: 0;
  font-size: 1rem;
  padding-left: 0px;
  border-bottom: 1px solid #535353;
}
#side .advanced_recent_posts_widget ul li ul li a,
#side .widget_subpages ul li ul li a {
  padding: 6px 12px;
  font-size: 1rem !Important;
}
/*********************
13. FOOTER STYLES
*********************/
.footer {
  clear: both;
  background-color: #383838;
  padding: 2.5em 0;
}
.footer a {
  text-decoration: none;
  color: #bfbfbe;
}
.footer a:hover {
  color: #ffffff;
}
.footer .menu-main-menu-container ul li {
  display: inline-block;
  min-width: 100%;
}
.footer .menu-main-menu-container .sub-menu {
  display: none;
}
.footer .widget-container {
  padding-bottom: 2em;
  color: #8c8c8b;
  font-size: 1.15em;
}
.footer .widget-container .widget-title {
  color: #dedede;
  font-size: 1.8em;
  border-bottom: 1px dotted #888;
  margin-bottom: .5em;
}
.footer .widget-container img {
  max-width: 100%;
  height: auto;
}
.footer .widget-container h1 {
  font-size: 2em;
}
.footer .widget-container h1,
.footer .widget-container h4,
.footer .widget-container h5,
.footer .widget-container p {
  margin: 0;
}
.footer .widget-container h4 {
  font-size: 1.3em;
  font-weight: normal;
}
.footer .widget-container input#s {
  width: 60%;
  height: 30px;
}
.footer .widget-container input#searchsubmit {
  background: #2873b5;
  border: 1px solid #2873b5;
  height: 30px;
}
.footer .widget-container.widget_nav_menu ul {
  margin: 0;
}
.footer .widget-container.widget_nav_menu ul li a {
  display: block;
  padding: .4em 0;
  border-top: 1px dotted #555;
}
.footer .widget-container.widget_nav_menu ul li:first-child a {
  border-top: 0;
}
#bottombar {
  background-color: #202020;
  text-align: center;
}
#bottombar img {
  padding: 0;
  margin: .5em .1em .1em;
  opacity: .5;
}
#bottombar img:hover {
  opacity: 1;
}
/*
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*/
@media only screen and (min-width: 481px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: 481px and Up Stylesheet
  
  This stylesheet is loaded for larger devices. It's set to 
  481px because at 480px it would load on a landscaped iPhone.
  This isn't ideal because then you would be loading all those
  extra styles on that same mobile connection. 
  
  A word of warning. This size COULD be a larger mobile device,
  so you still want to keep it pretty light and simply expand
  upon your base.less styles.
  
  ******************************************************************/
  /*********************
  NAVIGATION STYLES
  *********************/
  /*********************
  POSTS & CONTENT STYLES
  *********************/
  .Section#Slideshow {
    display: block;
  }
  /* entry content */
  .entry-content {
    /* at this larger size, we can start to align images */
  
  }
  .entry-content .alignleft,
  .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  .entry-content .alignright,
  .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  .entry-content .aligncenter,
  .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }
  /* end .entry-content */
  /*********************
  FOOTER STYLES
  *********************/
}
/*
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 768px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Grid Stylesheet
  
  I've seperated the grid so you can swap it out easily. It's
  called at the top the style.less stylesheet.
  
  There are a ton of grid solutions out there. You should definitely
  experiment with your own. Here are some recommendations:
  
  http://gridsetapp.com - Love this site. Responsive Grids made easy.
  http://gridpak.com/ - Create your own responsive grid.
  
  The grid below is a combination of the 1140 grid and Twitter Boostrap. 
  I liked 1140 but Boostrap's grid was way more detailed so I merged them 
  together, let's see how this works out. If you want to use 1140, the original 
  values are commented out on each line.
  
  /******************** 1136 Grid ******************************************/
  .onecol {
    width: 6.43%;
  }
  .twocol {
    width: 14.61%;
  }
  .threecol {
    width: 22.80%;
  }
  .fourcol {
    width: 30.99%;
  }
  .fivecol {
    width: 39.17%;
  }
  .sixcol {
    width: 47.36%;
  }
  .sevencol {
    width: 55.55%;
  }
  .eightcol {
    width: 63.73%;
  }
  .ninecol {
    width: 71.92%;
  }
  .tencol {
    width: 80.11%;
  }
  .elevencol {
    width: 88.29%;
  }
  .twelvecol {
    width: 96.48%;
  }
  .onecol,
  .twocol,
  .threecol,
  .fourcol,
  .fivecol,
  .sixcol,
  .sevencol,
  .eightcol,
  .ninecol,
  .tencol,
  .elevencol,
  .twelvecol {
    position: relative;
    float: left;
    margin-left: 1.76%;
  }
  .first {
    margin-left: 1.76%;
  }
  .last {
    float: right;
    margin-right: 1.76%;
  }
  /******************** 1131 Grid *******************************************************/
  /*
  .onecol    { width: 6.90%;  } // grid_1
  .twocol    { width: 15.12%; } // grid_2
  .threecol  { width: 23.34%; } // grid_3
  .fourcol   { width: 31.56%; } // grid_4
  .fivecol   { width: 39.79%; } // grid_5
  .sixcol    { width: 48.01%; } // grid_6
  .sevencol  { width: 56.23%; } // grid_7
  .eightcol  { width: 64.46%; } // grid_8
  .ninecol   { width: 72.68%; } // grid_9
  .tencol    { width: 80.90%; } // grid_10
  .elevencol { width: 89.12%; } // grid_11
  .twelvecol { width: 97.35%; } // grid_12
  
  // layout & column defaults
  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
    position: relative;
    float: left;
    margin-left: 1.33%;
  }
  
  .first {
    margin-left: 0%;
  }
  
  .last {
    float: right;
  }
  */
  /******************** 1132 Grid *******************************************************/
  /*
  .onecol    { width: 8.04%;  } // grid_1
  .twocol    { width: 16.08%; } // grid_2
  .threecol  { width: 24.12%; } // grid_3
  .fourcol   { width: 32.16%; } // grid_4
  .fivecol   { width: 39.79%; } // grid_5
  .sixcol    { width: 48.01%; } // grid_6
  .sevencol  { width: 56.23%; } // grid_7
  .eightcol  { width: 64.46%; } // grid_8
  .ninecol   { width: 72.68%; } // grid_9
  .tencol    { width: 80.90%; } // grid_10
  .elevencol { width: 89.12%; } // grid_11
  .twelvecol { width: 97.35%; } // grid_12
  
  // layout & column defaults
  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
    position: relative;
    float: left;
  }
  
  .first {
    margin-left: 1.77%;
  }
  
  .last {
    float: right;
    margin-right: 1.77%
  }
  */
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  
  Here's where you can start getting into the good stuff.
  This size will work on iPads, other tablets, and desktops.
  So you can start working with more styles, background images,
  and other resources. You'll also notice the grid starts to
  come into play. Have fun!
  
  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  .wrap {
    max-width: 1140px;
  }
  /*********************
  HEADER SYTLES
  *********************/
  .header #topbar #contact ul li {
    float: left;
    padding-right: 1em;
  }
  .header #topbar #social .icons {
    float: right;
  }
  /*********************
  NAVIGATION STYLES
  *********************/
  #megaMenu #megaUber {
    text-align: center;
  }
  #megaMenu #megaUber li {
    float: none;
  }
  /*********************
  CONTENT STYLES
  *********************/
  .page-children .entry-feature {
    float: left;
  }
  .page-children .entry-preview {
    margin-left: 320px;
  }
  .page-template-page-staff-list-php #trainer-list .trainer .photo {
    width: 28%;
    display: inline-block;
  }
  .page-template-page-staff-list-php #trainer-list .trainer .photo img {
    width: 100%;
    height: auto;
  }
  .page-template-page-staff-list-php #trainer-list .trainer .details {
    width: 67%;
    display: inline-block;
    font-size: 14px;
  }
  .page-template-page-staff-list-php #trainer-list .trainer .details .title h2 {
    margin: 0;
    line-height: 1.1em;
    letter-spacing: 0px;
  }
  .page-template-page-staff-list-php #trainer-list .trainer .details .title h3 {
    color: #777;
    margin: 0;
    font-style: italic;
    line-height: 1.1em;
    letter-spacing: 0px;
  }
  .page-template-page-staff-list-php #trainer-list .trainer .details h4 {
    margin: 0;
  }
  .page-template-page-staff-list-php #trainer-list .trainer .details ul {
    list-style: disc;
    margin-top: .3em;
  }
  .page-template-page-staff-list-php #trainer-list .trainer .details ul li {
    list-style-position: inside;
  }
  /*********************
  SIDEBARS & ASIDES
  *********************/
  .sidebar {
    margin-top: 2.2em;
  }
  .widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em;
  }
  .widget {
    padding: 0 10px;
    margin: 2.2em 0;
  }
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */
  
  }
  .widget ul li ul {
    margin-top: 0.75em;
    padding-left: 1em;
  }
  /*********************
  FOOTER STYLES
  *********************/
}
/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 1030px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Desktop Stylsheet
  
  This is the desktop size. It's larger than an iPad so it will only
  be seen on the Desktop. 
  
  ******************************************************************/
}
/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Super Large Monitor Stylesheet
  
  You can add some advanced styles here if you like. This kicks in
  on larger screens.
  
  ******************************************************************/
}
/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Retina Screens & Devices Stylesheet
  
  When handling retina screens you need to make adjustments, especially
  if you're not using font icons. Here you can add them in one neat
  place.
  
  ******************************************************************/
  /* 
  
  EXAMPLE 
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:
  
  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }
  
  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:
  
  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }
  
  So, you would create the same icon, but at double the resolution, meaning 
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go. 
  
  */
}
/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  
}
/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after,
  a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after,
  a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
